body {
    background-color: lavender;
}
p {
    font-size: 18px;
    color: black;
    font-family: "Cooper Black";
}
button {
    background: white;
    font-family: "Arial Black";
    border-style: double;
    border-color: blue;
}

input {
    border-color: black;
}
